<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="com.onpositive.semantic.model.api.property.java.AbstractReflectionProperty"
            class="com.onpositive.semantic.model.ui.property.java.annotations.JavaUIPropertyAdapterFactory">
         <adapter
               type="com.onpositive.semantic.model.ui.generic.IContentAssistConfiguration">
         </adapter>
         <adapter
               type="com.onpositive.semantic.model.api.property.adapters.ITextLabelProvider">
         </adapter>
      </factory>
	 <factory
            adaptableType="java.lang.Class"
            class="com.onpositive.semantic.model.ui.property.java.annotations.JavaUIPropertyAdapterFactory">
         <adapter
               type="com.onpositive.semantic.model.ui.generic.IContentAssistConfiguration">
         </adapter>
         <adapter
               type="com.onpositive.semantic.model.api.property.adapters.ITextLabelProvider">
         </adapter>
      </factory>
  <factory
        adaptableType="java.lang.Object"
        class="com.onpositive.semantic.model.ui.property.java.annotations.JavaUIPropertyAdapterFactory">
     <adapter
           type="com.onpositive.semantic.model.api.property.adapters.ITextLabelProvider">
     </adapter>
  </factory>
  <factory
        adaptableType="org.eclipse.jface.action.IAction"
        class="com.onpositive.semantic.model.ui.property.java.annotations.JavaUIPropertyAdapterFactory">
     <adapter
           type="java.lang.Runnable">
     </adapter>
  </factory>      
   </extension>
   <extension
         point="com.onpositive.semantic.model.role">
      <role
            id="edit"
            name="Edit">
      </role>
      <role
            id="new"
            name="New"
            parentRoles="edit">
      </role>
      <role
            id="add"
            name="Add"
            parentRoles="new">
      </role>
      <role
            id="row"
            name="Row"
            parentRoles="field">
      </role>
      <role
            id="cell"
            name="Cell"
            parentRoles="field">
      </role>
      <role
            id="field"
            name="Field">
      </role>
   </extension>
   <extension
         point="com.onpositive.semantic.model.images">
      <image
            id="com.onpositive.semantic.ui.editImage"
            image="icons/edtsrclkup_wiz.png"
            name="Edit Image"
            role="edit"
            targetClass="java.lang.Object">
      </image>
      <image
            id="com.onpositive.semantic.ui.samples.expenses.image1"
            imageDescriptorProvider="com.onpositive.semantic.ui.labels.CheckboxImageDescriptorProvider"
            name="bImage"
            role="cell"
            targetClass="java.lang.Boolean">
      </image>
      <image
            id="com.onpositive.semantic.ui.addImage"
            image="icons/addsrcloc_wiz.png"
            name="Add Image"
            role="add"
            targetClass="java.lang.Object">
      </image>
      <image
            id="com.onpositive.semantic.ui.add"
            image="icons/add.gif"
            name="Add">
      </image>
      <image
            id="com.onpositive.semantic.ui.delete"
            image="icons/delete.gif"
            name="Delete">
      </image>
      <image
            id="com.onpositive.semantic.ui.deleted"
            image="icons/deleted.gif"
            name="Disabled Delete">
      </image>
      <image
            id="com.onpositive.semantic.ui.edit"
            image="icons/edit.gif"
            name="name">
      </image>
   </extension>
   <extension
         point="com.onpositive.semantic.model.labels">
      <label
            descriptionLabel="Create a {name}"
            id="new"
            label="New {name}"
            name="new "
            role="new"
            targetClass="com.onpositive.semantic.model.realm.IType">
      </label>
      <label
            descriptionLabel="Add a {name}"
            id="add"
            label="Add {name}"
            name="Add"
            role="add"
            targetClass="com.onpositive.semantic.model.realm.IType">
      </label>
      <label
            id="com.onpositive.semantic.ui.date"
            labelProvider="com.onpositive.semantic.ui.labels.DateLabelProvider"
            name="Date Label Provider"
            targetClass="java.util.Date">
      </label>
   </extension>
   <extension
         point="org.eclipse.ui.themes">
      <colorDefinition
            categoryId="com.onpositive.semantic.ui.alpha"
            id="com.onpositive.semantic.ui.completed"
            isEditable="true"
            label="Completed Item"
            value="100,100,100">
      </colorDefinition>
      <themeElementCategory
            id="com.onpositive.semantic.ui.alpha"
            label="Alpha">
      </themeElementCategory>
   </extension>
   <extension
         point="com.onpositive.semantic.model.uiengine">
      <engineImpl
            clazz="com.onpositive.semantic.ui.swt.SWTUIEngine"
            context="swt">
      </engineImpl>
   </extension>
   <extension
         point="com.onpositive.commons.platform.namespaceImplementation">
      <namespace-implementation
            url="http://jetface.org/JetFace1.0/">
         <mapping
               class="com.onpositive.commons.elements.LinkElement"
               elementName="link">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.StackElement"
               elementName="stack">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.OneLineTextElement"
               elementName="string">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.structured.ComboEnumeratedValueSelector"
               elementName="combo">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.structured.columns.EditableListEnumeratedValueSelector"
               elementName="list">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.FormEditor"
               elementName="form">
         </mapping>
         
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.SpinnerEditor"
               elementName="spinner">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.ButtonSelector"
               elementName="button">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.FormTextElement"
               elementName="label">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.structured.columns.TableEnumeratedValueSelector"
               elementName="table">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.VContainer"
               elementName="vc">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.HContainer"
               elementName="hc">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.ToolbarElement"
               elementName="toolbar">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.TabFolderElement"
               elementName="tab-folder">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.CTabFolderElement"
               elementName="ctab-folder">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.CompositeEditor"
               elementName="composite-editor">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.SectionEditor"
               elementName="section">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.BrowserElement"
               elementName="browser">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.PasswordElement"
               elementName="password">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.TreeElement"
               elementName="tree">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.SashElement"
               elementName="splitter">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.ScrollableContainer"
               elementName="scrollable">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.SeparatorElement"
               elementName="separator">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.RadioButtonElement"
               elementName="radio">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.CheckboxElement"
               elementName="checkbox">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.GroupElement"
               elementName="group">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.HGroupElement"
               elementName="hgroup">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.ColorSelectorWrapper"
               elementName="colorSelector">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.DateTimeEditor"
               elementName="date">
         </mapping>
         <mapping
               class="com.onpositive.commons.elements.Container"
               elementName="container">
         </mapping> 
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.ViewerTextElement"
               elementName="text">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.structured.FilterControl"
               elementName="pattern-filter">
         </mapping>        
<!-- next part  -->     
         <handler
               class="com.onpositive.semantic.ui.xml.HeadControlHandler"
               elementName="headControl">
         </handler>
         <handler
               class="com.onpositive.semantic.ui.xml.TooltipCreatorHandler"
               elementName="tooltip-creator">
         </handler>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.ViewerTextElement"
               elementName="text">
         </mapping>
<!--         <mapping
               class="com.onpositive.semantic.ui.xml.AddElementsUIFactory"
               elementName="create-member">
         </mapping>
-->         
         <mapping
               class="com.onpositive.semantic.ui.xml.CommandHandler"
               elementName="command-handler">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.BindedActionHandler"
               elementName="binded-action">
         </mapping>
		 <mapping
               class="com.onpositive.semantic.model.ui.property.editors.CloseShell"
               elementName="close-shell">
         </mapping>        
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.Commit"
               elementName="commit">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.property.editors.CompositeAction"
               elementName="composite-action">
         </mapping>
         <mapping
               class="com.onpositive.semantic.ui.xml.RemoveElementsActionBinding"
               elementName="delete-selected">
         </mapping>
         <mapping
               class="com.onpositive.semantic.ui.xml.AddElementActionBinding"
               elementName="add-new">
         </mapping>
         <handler
         		class="com.onpositive.semantic.ui.xml.ProviderAndDecoratorHandler"
         		elementName="contentProvider">
         </handler>
         <handler
         		class="com.onpositive.semantic.ui.xml.ProviderAndDecoratorHandler"
         		elementName="labelProvider">
         </handler>
         <handler
         		class="com.onpositive.semantic.ui.xml.ProviderAndDecoratorHandler"
         		elementName="decorator">
         </handler>
         <handler
               class="com.onpositive.semantic.ui.xml.InterceptorHandler"
               elementName="interceptor">
         </handler>
      </namespace-implementation>
   </extension>      
</plugin>
