<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="group" name="Group Definition" schema="schema/group.exsd"/>

   
   <extension
         point="com.onpositive.semantic.model.labels">
      <label
            descriptionLabel="{Name}"
            id="com.onpositive.commons.namespace.ide.ui.namespaceModel"
            label="{Name}({Url})"
            name="NameSpace model"
            targetClass="com.onpositive.semantic.language.model.NamespaceModel">
      </label>
      <label
            id="com.onpositive.commons.namespace.ide.ui.labelBoolean"
            name="name"
            targetClass="java.lang.Boolean">
      </label>
      <label
            id="com.onpositive.commons.namespace.ide.ui.model"
            label="{Name}({Url})"
            name="Namespace Contribution Model"
            targetClass="com.onpositive.semantic.language.model.NameSpaceContributionModel">
      </label>
   </extension>
   <extension
         point="com.onpositive.semantic.model.images">
       <image
            id="com.onpositive.commons.namespace.ide.ui.group"
            imageDescriptorProvider="com.onpositive.commons.namespace.ide.ui.GroupDescriptorProvider"
            name="group image"
            role="com.onpositive.commons.namespace.ide.ui.group"
            targetClass="java.lang.String">
      </image>
      <image
            id="com.onpositive.commons.namespace.ide.ui.gen-doc"
            image="icons/javadoc.gif"
            name="javadoc">
      </image>
         
 	<image
            id="com.onpositive.semantic.ui.samples.expenses.image1"
            imageDescriptorProvider="com.onpositive.semantic.ui.labels.CheckboxImageDescriptorProvider"
            name="bImage"
            role="checkbox"
            targetClass="java.lang.Boolean">
      </image>
      <image
            id="true_check"
            image="icons/checkOn.jpeg"
            name="name">
      </image>
      <image
            id="false_check"
            image="icons/checkOff.jpeg"
            name="name">
      </image>         
      <image
            id="com.onpositive.commons.namespace.ide.ui.namespace"
            image="icons/extension_obj.gif"
            name="name"
            targetClass="com.onpositive.semantic.language.model.NamespaceModel">
      </image>
      <image
            id="com.onpositive.commons.namespace.ide.ui.element"
            image="icons/element.gif"
            imageDescriptorProvider="com.onpositive.commons.namespace.ide.ui.ElementModelDescriptorProvider"
            name="name"
            targetClass="com.onpositive.semantic.language.model.ElementModel">
      </image>
      <image
            id="com.onpositive.commons.namespace.ide.ui.image3"
            image="icons/tnames_co.gif"
            name="name"
            targetClass="com.onpositive.semantic.language.model.AttributeModel">
      </image>
      <image
            id="com.onpositive.commons.namespace.ide.ui.modelimage"
            image="icons/tnames_co.gif"
            name="Namespace Contribution Model"
            targetClass="com.onpositive.semantic.language.model.NameSpaceContributionModel">
      </image>
      <image
            id="com.onpositive.commons.namespace.ide.ui.hideAbstract"
            image="icons/access_restriction_attrib.gif"
            name="hideAbstract">
      </image>
      <image
            id="com.onpositive.commons.namespace.ide.ui.hideInherited"
            image="icons/extension_obj.gif"
            name="hideInherited">
      </image>
      <image
            id="com.onpositive.commons.namespace.ide.ui.rename"
            image="icons/watchlist_view.gif"
            name="rename">
      </image>
      <image
            id="com.onpositive.ide.ui.hierarchy"
            image="icons/hierarchy_co.gif"
            name="Hierarchy">
      </image>
      <image
            id="com.onpositive.ide.ui.category.image"
            image="icons/opentype.gif"
            name="name">
      </image>
      <image
            id="com.onpositive.ide.ui.change"
            image="icons/change.gif"
            name="name">
      </image>
      <image
            id="com.onpositive.semantic.model.images.add"
            image="icons/add.gif"
            name="add to to"
            role="row">
      </image>
      <image
            id="com.onpositive.semantic.model.images.delete"
            image="icons/delete.gif"
            name="delete"
            role="row">
      </image>
      <image
            id="com.onpositive.semantic.ui.images.deleted"
            image="icons/deleted.gif"
            name="Delete Disabled">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.onpositive.commons.namespace.ide.ui.NamespaceEditor"
            contributorClass="com.onpositive.commons.namespace.ide.ui.EditorContributor"
            default="true"
            extensions="dlm"
            icon="icons/tnames_co.gif"
            id="com.onpositive.commons.namespace.ide.ui.model_editor"
            name="Namespace Domain Model Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.six.ui.test.command1"
            name="Add Contact"
            categoryId="com.six.ui.test.category1"
            >
      </command>
      <category
            id="com.six.ui.test.category1"
            name="Six">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <key
               commandId="com.six.ui.test.command1"
               contextId="org.eclipse.ui.contexts.window"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="INSERT"/>
   </extension>
   <extension
         point="com.onpositive.semantic.model.widgetRegistry">
      <widget
            defaultCreator="com.onpositive.commons.ui.dialogs.PopupDialogWidgetCreator"
            id="com.onpositive.commons.namespace.ide.ui.widgetElement"
            name="addElement"
            resource="newElement.xml"
            targetClass="com.onpositive.semantic.language.model.ElementModel">
      </widget>
      <widget
            defaultCreator="com.onpositive.commons.ui.dialogs.PopupDialogWidgetCreator"
            id="com.onpositive.commons.namespace.ide.ui.widgetAttribute"
            name="addElement"
            resource="newAttribute.xml"
            targetClass="com.onpositive.semantic.language.model.AttributeModel">
      </widget>
   </extension>
   <extension
         point="com.onpositive.semantic.model.decorators">
      <decorator
            class="com.onpositive.commons.namespace.ide.ui.AttributeInheritDecorator"
            id="com.onpositive.commons.namespace.ide.ui.decorator1"
            name="name"
            targetClass="com.onpositive.semantic.language.model.AttributeModel">
      </decorator>
      <decorator
            class="com.onpositive.commons.namespace.ide.ui.DecoratorDocumentation"
            id="com.onpositive.commons.namespace.ide.ui.decoratorDocumentation"
            name="name"
            targetClass="com.onpositive.semantic.language.model.ModelElement">
      </decorator>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="dlf"
            id="com.onpositive.commons.namespace.ide.ui.dlf"
            name="Domain Specific Language File">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="dlm"
            id="com.onpositive.commons.namespace.ide.ui.dlm"
            name="Domain Language Model"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.wst.sse.ui.sourcevalidation">
         <validator
			scope="total"
			class="com.onpositive.commons.namespace.ide.ui.editors.xml.DomainValidator"
			id="com.onpositive.namespace.ui.validator">
         <contentTypeIdentifier id="com.onpositive.commons.namespace.ide.ui.dlf">
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
			</contentTypeIdentifier>		         
		 </validator>
   </extension>
   <extension point="org.eclipse.wst.sse.ui.sourcevalidation">
		<validator
			scope="partial"
			class="org.eclipse.wst.xml.ui.internal.validation.MarkupValidator"
			id="org.eclipse.wst.xml.ui.internal.validation.markupvalidator">
			<contentTypeIdentifier id="com.onpositive.commons.namespace.ide.ui.dlf">
				<partitionType id="org.eclipse.wst.sse.ST_DEFAULT"/>
				<partitionType id="org.eclipse.wst.xml.XML_DEFAULT"/>
			</contentTypeIdentifier>			
		</validator>
	</extension>
   <extension
         point="org.eclipse.wst.sse.ui.editorConfiguration">
         <sourceViewerConfiguration
			class="com.onpositive.commons.namespace.ide.ui.editors.xml.DLFStructuredTextViewerConfiguration"
			target="com.onpositive.commons.namespace.ide.ui.dlf" />
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="com.onpositive.commons.namespace.ide.ui.domain"
            class="com.onpositive.commons.namespace.ide.ui.DocumentationView"
            icon="icons/smartmode_co.gif"
            id="com.onpositive.commons.namespace.ide.ui.documentation"
            name="Documentation"
            restorable="true">
      </view>
      <category
            id="com.onpositive.commons.namespace.ide.ui.domain"
            name="Domain Language Environment">
      </category>
   </extension>
   <extension
         point="com.onpositive.ide.ui.group">
      <group
            icon="icons/add.gif"
            id="controls"
            name="UI Controls">
      </group>
      <group
            icon="icons/watchlist_view.gif"
            id="events"
            name="Events">
      </group>
      <group
            icon="icons/tnames_co.gif"
            id="com.onpositive.ide.ui.layout"
            name="Layout">
      </group>
   </extension>

   <extension
         point="com.onpositive.semantic.model.labels">
      <label
            id="com.onpositive.commons.namespace.ide.ui.label1"
            labelProvider="com.onpositive.commons.namespace.ide.ui.core.GroupTextLabelProvider"
            name="group label"
            role="com.onpositive.commons.namespace.ide.ui.group"
            targetClass="java.lang.String">
      </label>
   </extension>
   <extension
         point="com.onpositive.commons.ide.core.typeCompletionProvider">
      <typeCompletionProvider
            class="com.onpositive.ide.ui.JavaTypeValueProvider"
            id="java"
            >
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.ide.ui.BooleanTypeValueProvider"
            id="boolean">
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.ide.ui.HAlignTypeValueProvider"
            id="halign">
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.ide.ui.EnumCompletionProvider"
            id="enum">
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.ide.ui.VAlignTypeValueProvider"
            id="valign">
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.ide.ui.ActionStyleTypeValueProvider"
            id="actionStyle">
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.commons.namespace.ide.ui.completion.BindingCompletionProvider"
            id="binding">
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.ide.ui.ImageCompletionProvider"
            id="image">
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.ide.ui.RegexpCompletionProvider"
            id="regexp">
      </typeCompletionProvider>
      <typeCompletionProvider
            class="com.onpositive.ide.ui.ExtensionCompletionProvider"
            id="extension">
      </typeCompletionProvider>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.modelHandler">         
         <modelHandler
			default="yes"
			class="com.onpositive.commons.namespace.ide.ui.editors.xml.model.ModelHandlerForDLF"
			associatedContentTypeId="com.onpositive.commons.namespace.ide.ui.dlf"
			id="com.onpositive.commons.namespace.ide.ui.dlfmodelhandler">
		</modelHandler>
   </extension>
   <extension
         point="com.onpositive.semantic.model.labels">
      <label
            id="com.onpositive.ide.ui.label1"
            
            name="string label"
            role="com.onpositive.commons.namespace.ide.ui.group"
            targetClass="java.lang.String">
      </label>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="com.onpositive.ide.ui.NewDataFormWizard"
            hasPages="true"
            icon="icons/smartmode_co.gif"
            id="com.onpositive.ide.ui.newFormWizard"
            name="New Data Form"
            project="false">
      </wizard>
   </extension>
   
   <extension
         point="com.onpositive.commons.ide.core.typeValidator">
      <typeValidator
            class="com.onpositive.ide.ui.BooleanTypeValueProvider"
            id="boolean">
      </typeValidator>
      <typeValidator
            class="com.onpositive.ide.ui.HAlignTypeValueProvider"
            id="halign">
      </typeValidator>
      <typeValidator
            class="com.onpositive.ide.ui.VAlignTypeValueProvider"
            id="valign">
      </typeValidator>
      <typeValidator
            class="com.onpositive.ide.ui.ActionStyleTypeValueProvider"
            id="actionstyle">
      </typeValidator>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="com.onpositive.ide.ui.generateXMLforGUI"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="com.onpositive.ide.ui.generation.XMLGenerationLauncher"
               id="runXMLGeneration"
               label="Generate XML">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="com.onpositive.semantic.model.widgetRegistry">
      <widget
            id="com.onpositive.ide.ui.wcustomControls"
            name="Candidate"
            resource="candidate.dlf"
            targetClass="com.onpositive.semantic.generator.model.CandidateConfigurationListElement">
      </widget>
   </extension>
   <extension
         point="com.onpositive.commons.platform.namespaces">
      <namespace
            partDefinitionFile="schema/custom.dlm"
            url="http://jetface.org/JetFace1.0/custom">
      </namespace>
   </extension>
   <extension
         point="org.eclipse.wst.sse.core.modelHandler">
         <modelHandler
			default="yes"
			class="com.onpositive.commons.namespace.ide.ui.editors.xml.model.ModelHandlerForDLF"
			associatedContentTypeId="com.onpositive.commons.namespace.ide.ui.dlf"
			id="com.onpositive.ide.ui.modelhandler">
		</modelHandler>
   </extension>
   <extension
		point="org.eclipse.core.filebuffers.documentCreation"
		id="org.eclipse.wst.html.core.documentfactories"
		name="">
		<factory
			contentTypeId="com.onpositive.commons.namespace.ide.ui.dlf"
			class="org.eclipse.wst.sse.core.internal.filebuffers.BasicStructuredDocumentFactory" />
	</extension>
   
   <extension
         id="id1"
         name="name"
         point="org.eclipse.wst.validation.validatorV2">
          <validator
            build="true"
            class="com.onpositive.commons.namespace.ide.ui.editors.xml.DomainValidator"
            manual="true"
            sourceid="com.onpositive.dlf.Validator"
            version="3"
            markerId="org.eclipse.wst.xml.core.validationMarker">
         <include>
            <rules>
               <contentType id="com.onpositive.commons.namespace.ide.ui.dlf"></contentType>
               <fileext
                     caseSensitive="false"
                     ext="dlf">
               </fileext>
            </rules>
         </include>
         <exclude>
            <rules>
				<projectNature id="org.eclipse.jst.j2ee.ejb.EJBNature"/>
				<projectNature id="org.eclipse.jst.j2ee.EARNature"/>
    			<file caseSensitive="true" name=".project" type="file"/>
    			<file caseSensitive="true" name=".classpath" type="file"/>
    			<file caseSensitive="true" name=".settings"  type="folder"/>
            </rules>
         </exclude>
      </validator>
   </extension>
   <extension
         point="com.onpositive.commons.ide.core.typeValidator">
      <typeValidator
            class="com.onpositive.commons.namespace.ide.ui.completion.BindingValidator"
            id="binding">
      </typeValidator>
      <typeValidator
            class="com.onpositive.commons.namespace.ide.ui.completion.JavaValidator"
            id="java">
      </typeValidator>
      <typeValidator
            class="com.onpositive.ide.ui.RegexpValidator"
            id="regexp">
      </typeValidator>
      <typeValidator
            class="com.onpositive.ide.ui.ExtensionTypeValidator"
            id="extension">
      </typeValidator>
      <typeValidator
            class="com.onpositive.ide.ui.StringTypeValidator"
            id="string">
      </typeValidator>
      <typeValidator
            class="com.onpositive.ide.ui.EnumTypeValidator"
            id="enum">
      </typeValidator>
      <typeValidator
            class="com.onpositive.commons.namespace.ide.ui.completion.ExpressionValidator"
            id="expression">
      </typeValidator>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.onpositive.ide.ui.DLFHyperlinkDetector"
            id="com.onpositive.ide.ui.hyperlinkDetector1"
            name="DLF"
            targetId="org.eclipse.core.runtime.xml">
      </hyperlinkDetector>
   </extension>
   <extension
         point="com.onpositive.commons.ide.core.typeHyperlinkProvider">
      <typeHyperlinkProvider
            class="com.onpositive.ide.ui.JavaTypeHyperlinkProvider"
            id="java">
      </typeHyperlinkProvider>
      <typeHyperlinkProvider
            class="com.onpositive.ide.ui.BindingHyperlinkProvider"
            id="binding">
      </typeHyperlinkProvider>
      <typeHyperlinkProvider
            class="com.onpositive.ide.ui.ExpressionHyperlinkProvider"
            id="expression">
      </typeHyperlinkProvider>
      <typeHyperlinkProvider
            class="com.onpositive.ide.ui.ExtensionTypeHyperlinkProvider"
            id="extension">
      </typeHyperlinkProvider>      
   </extension>
   <extension
         point="org.eclipse.jdt.ui.javaCompletionProposalComputer" id="expressionCompletion">
         <javaCompletionProposalComputer 
			class="com.onpositive.commons.namespace.ide.ui.completion.JavaCompletionIntegration"
			categoryId="org.eclipse.jdt.ui.javaAllProposalCategory">
			<partition type="__java_string"/>
		</javaCompletionProposalComputer>
   </extension>
</plugin>
