<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="com.onpositive.semantic.ui.snippets.SnippetsList">
         </run>
      </application>
   </extension>
   <extension
         point="com.onpositive.semantic.model.images">
      <image
            id="com.onpositive.semantic.ui.snippets.image3"
            image="icons/smartmode_co.gif"
            name="Snippet"
            targetClass="com.onpositive.semantic.ui.snippets.AbstractSnippet">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.image4"
            image="icons/person.gif"
            name="name"
            targetClass="com.onpositive.semantic.ui.snippets.Snippet008Club$Person">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.image5"
            image="icons/extension_obj.gif"
            name="Extension Point"
            targetClass="org.eclipse.core.runtime.IExtension">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.image6"
            image="icons/element.gif"
            name="Configuration Element"
            role="extensions"
            targetClass="org.eclipse.core.runtime.IConfigurationElement">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.image1"
            image="icons/person.gif"
            name="name2"
            role="contacts"
            targetClass="com.onpositive.semantic.ui.snippets.Snippet010ContentAssist$Person">
      </image>
      <image
            id="add"
            image="icons/add.gif"
            name="add to to"
            role="row">
      </image>
      <image
            id="delete"
            image="icons/delete.gif"
            name="delete"
            role="row">
      </image>
      <image
            id="add2"
            image="icons/add2.gif"
            name="add to cc"
            role="row">
      </image>
      <image
            id="addd"
            image="icons/addd.gif"
            name="Add Disabled">
      </image>
      <image
            id="add2d"
            image="icons/add2d.gif"
            name="Add2 Disabled">
      </image>
      <image
            id="deleted"
            image="icons/deleted.gif"
            name="Delete Disabled">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.formula"
            image="icons/variable_view.gif"
            name="formula"
            role="formula"
            targetClass="java.lang.Integer">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.formula2"
            image="icons/watchlist_view.gif"
            name="formula2"
            role="formula"
            targetClass="java.lang.String">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.contributor"
            image="icons/plugin_obj.gif"
            name="Contibutor"
            targetClass="org.eclipse.core.runtime.IContributor">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.extensionPoint"
            image="icons/ext_point_obj.gif"
            name="estensionPoint"
            role="extensions"
            targetClass="java.lang.String">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.string"
            image="icons/plugin_obj.gif"
            name="Snippet Category"
            role="category"
            targetClass="java.lang.String">
      </image>
      <image
            id="com.onpositive.semantic.ui.snippets.image2.person"
            image="icons/user-online.png"
            name="name"
            role="row"
            targetClass="com.onpositive.semantic.ui.snippets.Snippet019Contacts$Person">
      </image>
      <image
            id="addPerson"
            image="icons/friend_add_small.png"
            name="name">
      </image>
      <image
            id="addMail"
            image="icons/send_pm_small.png"
            name="name">
      </image>
      <image
            id="bpEntry2"
            image="icons/variable_view.gif"
            name="buildpathentry"
            role="buildpathEntry"
            targetClass="java.lang.String">
      </image>
   </extension>
   <extension
         point="com.onpositive.semantic.model.decorators">
      <decorator
            class="com.onpositive.semantic.ui.snippets.InterestCountDecorator"
            id="com.onpositive.semantic.ui.snippets.decorator1"
            name="Interest Count Decorator"
            targetClass="com.onpositive.semantic.ui.snippets.Snippet008Club$Person">
      </decorator>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.onpositive.semantic.ui.snippets.id1"
            name="Snippets">
         <property
               name="appName"
               value="Snippets">
         </property>
      </product>
   </extension>
   <extension
         point="com.onpositive.semantic.model.labels">
      <label
            descriptionLabel="This dialog allows to configure point"
            id="com.onpositive.semantic.ui.snippets.label1"
            label="Named Point"
            name="Point Label"
            role="edit"
            targetClass="com.onpositive.semantic.ui.snippets.Snippet007Dialogs$Point">
      </label>
   </extension>
   <extension
         point="com.onpositive.semantic.model.labels">
      <label
            descriptionLabel="&lt;p&gt;&lt;b&gt;Name:&lt;/b&gt;{Name}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Mail to:&lt;/b&gt;{Email}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Position:&lt;/b&gt;{Position}&lt;/p&gt;"
            id="com.onpositive.semantic.ui.snippets.label2"
            label="{Name}"
            name="name"
            role="contacts"
            targetClass="com.onpositive.semantic.ui.snippets.Snippet010ContentAssist$Person">
      </label>
	  <label
            descriptionLabel="Contact"
            id="com.onpositive.semantic.ui.snippets.labe32"
            label="{Email}"
            name="Contact"
            targetClass="com.onpositive.semantic.ui.snippets.Snippet010ContentAssist$Person">
      </label>
   <label
         id="com.onpositive.semantic.ui.snippets.labelPerson"
         label="{firstName} {lastName}"
         name="name"
         role="row"
         targetClass="com.onpositive.semantic.ui.snippets.Snippet019Contacts$Person">
   </label>      
   </extension>
   <extension
         point="com.onpositive.semantic.model.widgetRegistry">
      <widget
            id="com.onpositive.semantic.ui.snippets.widget1"
            name="name"
            resource="ModelElement.dlf"
            targetClass="com.onpositive.semantic.ui.snippets.ModelElement">
      </widget>
   </extension>
   

</plugin>
