<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>  
   <extension
         point="com.onpositive.commons.platform.namespaces">
      <namespace
            partDefinitionFile="/schema/uixml.dlm"
            url="http://jetface.org/JetFace1.0/">                             
       </namespace>
       <namespace
            partDefinitionFile="schema/widgets.dlm"
            url="http://jetface.org/JetFace1.0/widgets">                             
       </namespace>
   </extension>   
   <extension
         point="com.onpositive.commons.platform.expressionController">
      <controller
            class="com.onpositive.semantic.model.ui.generic.IUIElementExpressionController"
            objectClass="com.onpositive.semantic.model.ui.generic.widgets.IUIElement"
            id="com.onpositive.uielementcontrollercom.onpositive.semantic.model.controller1">
      </controller>
   </extension>
   <extension
         point="com.onpositive.commons.platform.typeConversion">
      <typeConvertor
       
            class="com.onpositive.semantic.ui.core.PointToStringConvertor"
            objectClass="com.onpositive.semantic.ui.core.Point"
       >
      </typeConvertor>
      <typeConvertor
            class="com.onpositive.semantic.ui.core.RectangleToStringConvertor"
            objectClass="com.onpositive.semantic.ui.core.Rectangle">
      </typeConvertor>
   </extension>
   <extension
         point="com.onpositive.semantic.model.widgetRegistry">
      <widget
            id="com.onpositive.semantic.editactions.simpleedior"
            name="Value Editor"
            resource="valueEditor.dlf"
            targetClass="java.lang.String">
      </widget>
      <widget
            id="com.onpositive.semantic.editactions.texteditor"
            name="Long Text Editor"
            resource="longTextEditor.dlf"
            targetClass="java.lang.String">
      </widget>
   </extension>
   <extension
         point="com.onpositive.commons.platform.namespaceImplementation">
      <namespace-implementation
            url="http://jetface.org/JetFace1.0/">
         <handler
               class="com.onpositive.semantic.model.xmlnew.ModelElementHandler"
               elementName="model">
         </handler>
         <handler
               class="com.onpositive.semantic.model.xmlnew.BindingElementHandler"
               elementName="binding">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.RegexpValidatorHandler"
               elementName="regexp-validator">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ToolbarManagerHandler"
               elementName="toolbar-manager">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.PopupHandler"
               elementName="popup-menu">
         </handler>
          <handler
         		class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ProviderAndDecoratorHandler"
         		elementName="contentProvider">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.InterceptorHandler"
               elementName="interceptor">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.TooltipCreatorHandler"
               elementName="tooltip-creator">
         </handler>
         <handler
         		class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ProviderAndDecoratorHandler"
         		elementName="labelProvider">
         </handler>
         <handler
         		class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ProviderAndDecoratorHandler"
         		elementName="decorator">
         </handler>
         <annotation
               class="com.onpositive.semantic.model.api.property.java.annotations.RealmProvider"
               elementName="realm">
         </annotation>
         <annotation
               class="com.onpositive.semantic.model.api.property.java.annotations.Range"
               elementName="range">
         </annotation>
         <annotation
               class="com.onpositive.semantic.model.api.property.java.annotations.Unique"
               elementName="unique">
         </annotation>
         <annotation
               class="com.onpositive.semantic.model.api.property.java.annotations.TextLabel"
               elementName="text-label">
         </annotation>
         <annotation
               class="com.onpositive.semantic.model.api.property.java.annotations.LabelLookup"
               elementName="label-lookup">
         </annotation>
         <annotation
               class="com.onpositive.semantic.model.api.property.java.annotations.SeparatorCharacters"
               elementName="separator-characters">
         </annotation>
         <annotation
               class="com.onpositive.semantic.model.api.property.java.annotations.FactoryProvider"
               elementName="factory-provider">
         </annotation>
         <annotation
               class="com.onpositive.semantic.model.ui.generic.annotations.ContentAssist"
               elementName="content-assist">
         </annotation>
         <mapping
               class="com.onpositive.semantic.model.ui.generic.Column"
               elementName="column">
         </mapping>
         <handler
               class="com.onpositive.commons.xml.language.ColumnsHandler"
               elementName="columns">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.GroupByHandler"
               elementName="groupBy">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.RemoveSelectedHandler"
               elementName="remove-selection">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.DeSelectAllHandler"
               elementName="deselectAll">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.SelectAllHandler"
               elementName="selectAll">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ToggleFilterHandler"
               elementName="toggle-filter">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.UndoRedoHandler"
               elementName="undoredo-block">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.OpenHandler"
               elementName="edit-selection">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.RefreshHandler"
               elementName="refresh">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.SettingsHandler"
               elementName="settings">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.MoveHandler"
               elementName="moveUp">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.MoveHandler"
               elementName="moveDown">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.EditMenuHandler"
               elementName="editMenu">
         </handler>
		 <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.InlinedEditMenuHandler"
               elementName="inlinedEditMenu">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.AddFromRealmHandler"
               elementName="add-fromRealm">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.DefaultValueHandler"
               elementName="defaultValue">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ObjectValueHandler"
               elementName="objectValue">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ExternalRealmHandler"
               elementName="external-realm">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.DataSourceHandler"
               elementName="data-source">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ValidatorHandler"
               elementName="validator">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ActionsElementHandler"
               elementName="actions">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.StringValueHandler"
               elementName="stringMember">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.GroupByHandler"
               elementName="doNotGroup">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.StringRealmHandler"
               elementName="stringRealm">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.BindedActionHandler"
               elementName="binded-action">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.BindedActionHandler"
               elementName="action">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.SeparatorHandler"
               elementName="action-separator">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.AddToRealmHandler"
               elementName="create-member">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.AddToRealmHandler"
               elementName="create-child">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.BindedActionHandler"
               elementName="menu">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.ExpressionHandler"
               elementName="expression">
         </handler>
         <handler
               class="com.onpositive.semantic.model.ui.generic.widgets.handlers.CopyActionHandler"
               elementName="copy-selection">
         </handler>
         <mapping
               class="com.onpositive.semantic.model.ui.actions.Commit"
               elementName="commit">
         </mapping>
         <mapping
               class="com.onpositive.semantic.model.ui.actions.CompositeAction"
               elementName="composite-action">
         </mapping>
      </namespace-implementation>
   </extension>
</plugin>
